# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

todo/.idea/
todo/.ionic/
todo/.sourcemaps/
todo/.sass-cache/
todo/.tmp/
todo/.versions/
todo/coverage/
todo/dist/
todo/node_modules/
todo/tmp/
todo/temp/
todo/platforms/
todo/plugins/
todo/plugins/android.json
todo/plugins/ios.json
todo/www/

dezina/.idea/
dezina/.ionic/
dezina/.sourcemaps/
dezina/.sass-cache/
dezina/.tmp/
dezina/.versions/
dezina/coverage/
dezina/dist/
dezina/node_modules/
dezina/tmp/
dezina/temp/
dezina/platforms/
dezina/plugins/
dezina/plugins/android.json
dezina/plugins/ios.json
dezina/www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
